/* 
    > Practice 4! In this one we already have a lot of HTML, so let's style it
    > Do not change the HTML for this one, do everything in CSS
*/

/*
    First let's "clear" the default margin and padding from everything
    (HINT: * selector)
*/
* {
  margin: 0;
  padding: 0;
}
/*
      > Now, let's style the "hero" class with the following properties
          ☑️ set a height of 30vh, width of 100%
          ☑️ set the background-image property so it uses the image from this URL:
  "https://assets.codepen.io/6060109/window.jpg" 
  as the background
  
          ☑️ Set background-size so the width fits 100%, and background-position as center
      .*/
.hero {
  height: 30vh;
  background-image: url("https://assets.codepen.io/6060109/window.jpg");
  width: 100%;
  background-size: 100%;
  background-position: center;
}
/* 
          ☑️ style the H4 text, use the POSITION: absolute, top, and left properties to position the text "How to use flex box" so it fits inside the window! 
      */
h4 {
  position: absolute;
  top: 10%;
  left: 45%;
}
/*
      > Ok let's...
          ☑️ style ALL "section"s with text aligned to center, 50px margin
          ☑️ style ALL "box-ctr"s with display flex, height 15vh, width 100%, background color lightgrey
      */
.section {
  text-align: center;
  margin: 50px;
}
.box-ctr {
  display: flex;
  height: 15vh;
  width: 100%;
  background-color: lightgrey;
}

/*
      > Third, let's style the "box" class
          ☑️ set a width of 5%, a height of 30%, 1px solid black border on ALL boxes
          ☑️ write 3 advanced selectors, the 1st should select the 1st box inside each box-ctr, the 2nd selects the 2nd... etc
          ☑️ using these, make first box in every container red, second green, third blue
      */
.box {
  width: 5%;
  height: 30%;
  border: 1px solid black;
}
.box-ctr .box:nth-child(1) {
  background-color: red;
}
.box-ctr .box:nth-child(2) {
  background-color: green;
}
.box-ctr .box:nth-child(3) {
  background-color: blue;
}
/*
      > Last, let's style each of the box containers INDIVIDUALLY
          ☑️ We have made it easier for you with "box-ctr-n" classes
          ☑️ box-ctr-1 should look like this
              |                |
              |     [][][]     |
              |                |
          ☑️ box-ctr-2 should look like this
              |                |
              |                |
              |  []   []   []  |
          ☑️ box-ctr-3 should look like this
              |              []|
              |              []|
              |              []|
      HINT: use justify-content and align-items on each box-ctr class
      (use .box-ctr-1, .box-ctr-2...)
  */
.box-ctr-1 {
  justify-content: center;
  align-items: center;
}
.box-ctr-2 {
  justify-content: space-around;
  align-items: flex-end;
}
.box-ctr-3 {
  flex-direction: column;

  align-items: flex-end;
}
