* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Helvetica;
  margin: 0 8px;
}

h1 {
  font-size: 100px;
  font-weight: bold;
  color: khaki;
  text-align: center;
}

header {
  background-image: url(images/pattern.webp);
  margin: 20px 0;
}

h2 {
  font-size: 32px;
  font-weight: bold;
  color: white;
}

#brushes h2 {
  background-color: mediumspringgreen;
}

#frames h2 {
  background-color: lightcoral;
}

#paint h2 {
  background-color: skyblue;
}

span {
  font-weight: bold;
  color: blue;
}

figure,
p {
  margin: 20px 0;
}
